---
layout: layouts/base
---
<div class="home">
  <div class="home-header">
    <h1 class="site-title">{{ site.name }}</h1>
    <p class="site-epigraph">{{ site.epigraph }}</p>
  </div>

  <ol class="poem-list" reversed>
    {% for poem in collections.poems %}
    <li class="poem-list-item">
      <a href="{{ poem.url | url }}" class="poem-list-link">
        <span class="poem-list-title">{{ poem.data.title }}</span>
        <span class="poem-list-date">{{ poem.data.display_date if poem.data.display_date else poem.date | formatDate }}</span>
        {% if poem.data.footnote %}
        <span class="poem-list-note">{{ poem.data.footnote }}</span>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ol>
</div>
